{% extends 'base.html' %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>Привет, я Савчук Алексей</h1>
        <p>
          Тут я размещу информацию о себе используя свои умения верстать.
          Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
          <a href="https://github.com/Aleksey-Savchuk/hw03_forms.git">
            Мой репозиторий в github
          </a>
        </p>
      </div>
{% endblock %}
